@import "tailwindcss";

:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

.pt-safe {
  padding-top: max(1rem, var(--safe-top));
}

.pb-safe {
  padding-bottom: max(1rem, var(--safe-bottom));
}
